doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each m in modello
       div.person
         img(src=`/images/${m.imgSrc}`)
         h2.m-name
           | #{m.SetName} 
         a(href=`/modello?SetNumber=${m.SetNumber}`)
           | Guarda Istruzione
