
doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
     h1 #{title}
   
   div.profile-details
     p.profile-name #{m.SetNumber}
     p.profile-name #{m.SetName}
     p.profile-name #{m.SetTheme}
     p.profile-name #{m.Year}
     
   each img in m.instr 
     div.profile 
       img(src=`/images/${img}`)